body{
	background-color: #dddee0;
}

.fondo{
	background-color: #f6a800;
	width: 100%;
	height: 250px;
	padding-top: 30px;
	
}

.fondo img{
	width: 50%;
	margin-left: 25%;
}

.box{
	background-color: #f8f8f8;
	width: 100%;
	height: 35px;
	margin-top: 25px;
}